<ul>
  <li><%= link_to 'Return to Pets Index', "/pets" %></li>
  <li><%= link_to 'Return to Shelters Index', "/shelters" %></li>
  <li><%= link_to 'Apply to Adopt', "/applications/new" %></li>
</ul>

<p>"No Favorited Pets"</p>
