<div class="navigationbar">
  <ul>
    <li><a href="/pets">Return to Pets Index</a></li>
    <li><a href="/shelters">Return to Shelters Index</a></li>
    <li><a href="/applications/new">Apply to Adopt</a></li>
  </ul>

</div>
<p>"No Favorited Pets"</p>
