<li><%= link_to 'Apply to Adopt', "/applications/new" %></li>

<h1>Pets You Have Favorited</h1>

<section class="show">
<% favorite.favorite_pets.each do |pet| %>
  <p class="name"><%= link_to "#{pet.name}", "/pets/#{pet.id}"%></p>
  <p><img src="<%= pet.image %>"</img></p>
<% end %>
</section>
