<h1>Adopt Don't Shop!</h1>

<p><img class="welcome"src="https://www.countrycommunities.com/wp-content/uploads/2018/09/cat-and-dog.jpg"</img></p>

<p class="welcome"> Click on the links above to find your furever family member today!</p>
